{% extends 'content/base.html' %}
{% load staticfiles %}
{% block head %}

<link rel="stylesheet" type="text/css" href={% static 'content/css/blog.css' %} />

<style type="text/css">
    .usercolor {
        color: {{ user.userprofile.color }};
    }
    .userborder {
        border-bottom: {{ user.userprofile.color }} dotted 3px;
        border-top: {{ user.userprofile.color }} dotted 3px;
    }

    .nothing {

    }
</style>
{%  endblock %}

{% block content %}
<h1 class='blog_title'> Recent Posts </h1>
<a href="/newpost">
    <h3 id="newpost">
        New Post
    </h3>
</a>
{% for post in post_list %}
<div class='post' pid={{post.pk}}>
    <h2 class="post_title"> <a href="/post/{{post.pk}}/{{post.slug}}">{{post.title}}</a> </h2>
    <h3 class="slug_title"> {{post.slug}} </h3>
    <div class="letterbox" style="background-color:{{ post.author.userprofile.color }};">
        <a href="/{{ post.author.userprofile.pk }}/profile">
            <div class="letter_link">
                <div class="letter">{{ post.author.userprofile.get_letter }}</div>
            </div>
        </a>
    </div>

    <br>
    {% if user == post.author %}
    <span>
        <a class="edit" href="/post/{{post.pk}}/{{post.slug}}/edit" data-pid={{ post.pk }}> Edit </a>
    </span>
    <br>
    {% endif %}
    <div class="post_content" data-pid={{ post.pk }}>
        {{ post.content|safe }}
    </div>
    <br>
    <div class="post_footer">
        <div class="footer_text">
            <div class='timestamp'>
                {{ post.date_published }}
            </div>
            <div class="comment_link">
                <a href="/post/{{post.pk}}/{{ post.slug }}"> {{ post.comment_count }} Comments</a>
            </div>
        </div>
        <div class="heart">
            <div class="like_count" data-pk="{{ post.pk }}">{{ post.like_count }}</div>
        </div>
    </div>
    <br>

</div>
{% endfor %}

{% if is_paginated %}
    <div class ="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="/generic_list?page={{ page_obj.previous_page_number }}"> Newer </a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="/generic_list?page={{ page_obj.next_page_number }}"> Older </a>
            {% endif %}
        </span>
    </div>
{% endif %}

<script type="text/javascript">

    function getCookie(name) {
       var cookieValue = null;
       if (document.cookie && document.cookie != '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
             var cookie = jQuery.trim(cookies[i]);
             // Does this cookie string begin with the name we want?
             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                 break;
                }
            }
        }
        return cookieValue;
    }

    $(".heart").click(function(e) {
        like_post(e);
    });

    $(".edit").click(function(e) {
        editPost(e);
    });

    $(".delete").click(function(e) {
        deletePost(e);
    });

    function like_post(e) {
        console.log("clicked the heart");
        $.ajax({
            url : window.location.href,
            type : "POST",
            data :{csrfmiddlewaretoken : getCookie('csrftoken'),
                    'pk' : $(e.target).data('pk'),
                    'action' : 'like'
                  },

            success : function(json) {
                $("div .like_count[data-pk=" + json['pk'] + "]").text(json['likes']);
            },

            error : function (xhr, errmsg, err) {
                console.log(err);
                console.log(errmsg);
                console.log(xhr);
                console.log("you don goofed");
            }
        })
    }

    function editPost(id) {
        pid = $(id.target).data("pid");
        post =  $(".post_content[data-pid=" + pid + "]");
        console.log("Editing post!" + pid );
        console.log(post.html());

    }

    function updatePost(id) {
        $.ajax({

            url : window.location.href,
            type : "POST",
            data : { csrfmiddlewaretoken : getCookie('csrftoken'),
                    "action" : "edit",
                    "id" :  $(id.target).parent().data("pid"),
                    "newContent" : $("#replacement").val(),
                    },

            success : function(json) {
                console.log("gurl. you edited you some posts.");
                $("#update").remove();
                replacement = $("#replacement");
                replacement.css("background-color","#fd3");
                newContent = json["newContent"];
                console.log(newContent);
                replacement.replaceWith("<div class='post'><p>" + newContent + "</p></div>");
            },

            error : function(xhr, errmsg, err) {
                console.log("error");
                console.log(xhr.status);
                // console.log(xhr.responseText);
                console.log(errmsg);
                console.log(err);
            }
        });
    }

    function deletePost(id) {
        console.log("deleting post");

        $.ajax({
            url : window.location.href,
            type : "POST",
            data : { csrfmiddlewaretoken : getCookie('csrftoken'),
                    "action" : "delete",
                    "id" :  $(id.target).data("pid")
                    },

            success : function(json) {
                console.log(json);
                if (json["deleted"] == true) {
                    console.log("deleted post");
                    console.log(json["deleted"]);
                    console.log(json["pid"]);
                    $(".post [data-pid=" + json["pid"] + "]").hide();
                }
            },

            error : function(xhr, errmsg, err) {
                console.log("error");
                console.log(xhr.status);
                // console.log(xhr.responseText);
                console.log(errmsg);
                console.log(err);
            }
        });
    }


</script>

{% endblock %}
