@import "https://fonts.googleapis.com/css?family=Abel|Arvo|Inconsolata|Josefin+Sans|Old+Standard+TT";
body {
  margin: 0;
  background-color: #2d2d2d;
  font-family: Abel;
  color: #b6cee6; }

#site-header {
  text-align: center;
  background-color: #ffb847; }

#main-title {
  margin: auto;
  padding-top: 50px;
  font-size: 200px;
  color: #2d2d2d;
  font-family: Josefin Sans; }

.sub-title {
  font-family: Inconsolata;
  font-size: 20px;
  font-style: italic;
  color: #606060;
  text-align: center;
  white-space: nowrap;
  position: relative;
  width: 150%;
  left: -50%;
  margin: auto;
  padding-bottom: 15px;
  overflow: hidden; }

nav {
  background-color: #d9d9d9;
  border-top: solid 6px #2d2d2d;
  border-bottom: solid 6px #ffb847; }
  nav ul {
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: flex;
    justify-content: space-between; }
    nav ul li {
      display: inline-block; }
  nav a {
    height: 40px;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    color: #2d2d2d; }
    nav a:visited {
      color: #2d2d2d; }
    nav a:hover {
      background-color: #ffb847;
      color: #2d2d2d; }
    nav a:active {
      background-color: #2d2d2d;
      color: #ffb847; }

#content {
  background-color: #2d2d2d;
  padding-top: 50px; }

a {
  text-decoration: none;
  color: #d9d9d9; }
  a:hover {
    color: #ffb847;
    cursor: pointer; }

.blog-title {
  font-family: Josefin Sans;
  font-size: 65px;
  color: #ffb847;
  margin: 0;
  padding: 40px;
  padding-bottom: 20px;
  text-decoration: none; }
  .blog-title:hover {
    color: #d9d9d9; }

.edit, .delete {
  background-color: #ffb847;
  color: #2d2d2d;
  font-family: Arvo;
  font-size: 18px;
  display: inline-block;
  text-align: right;
  padding: 10px;
  float: right;
  margin-top: 37px; }
  .edit a, .delete a {
    color: #2d2d2d; }
  .edit:hover, .delete:hover {
    background-color: #d9d9d9;
    cursor: pointer; }

.blog-entry {
  border-bottom: solid #d9d9d9 3px;
  position: relative; }
  .blog-entry header h2 {
    display: inline-block; }
  .blog-entry footer {
    width: 16%;
    padding-left: 10px;
    margin-bottom: 50px;
    border-bottom: 2px solid #ffb847;
    float: right; }
    .blog-entry footer .blog-author {
      font-family: Arvo;
      font-size: 18px;
      color: #d9d9d9; }

.blog-content {
  position: relative; }

.clearfix {
  clear: both; }

.blog-info {
  padding-top: 10px;
  position: absolute;
  display: inline-block;
  top: 0;
  bottom: 0;
  width: 16%;
  color: #d9d9d9; }
  .blog-info span {
    display: block;
    text-align: right;
    font-family: Arvo; }

.blog-stats {
  position: absolute;
  bottom: 10px;
  right: 5px; }

.blog-date {
  font-size: 21px; }

.blog-time {
  font-size: 14px; }

.blog-comments {
  margin-bottom: 6px; }
  .blog-comments a {
    padding: 10px 0; }
  .blog-comments:hover {
    color: #d9d9d9; }

.blog-heart {
  background-image: url("/static/content/HTML/heart.svg");
  height: 38px;
  width: 38px;
  background-size: contain;
  text-align: center;
  padding-top: 7px;
  background-repeat: no-repeat;
  font-size: 13px;
  margin: 0;
  float: right;
  color: #ffb847; }
  .blog-heart:hover {
    color: #d9d9d9;
    cursor: pointer; }
  .blog-heart .heart-count {
    text-align: center;
    margin-top: 3px; }

.blog-text {
  width: 60%;
  min-height: 200px;
  margin: auto;
  border-left: solid #ffb847 2px;
  padding: 30px;
  text-align: justify; }
  .blog-text p {
    padding-bottom: 25px;
    margin: auto;
    line-height: 1.4em; }
    .blog-text p:first-letter {
      font-size: 30px;
      font-family: Old Standard TT;
      margin: 0px;
      margin-right: 2px;
      margin-top: 40px;
      text-transform: capitalize; }
  .blog-text h3 {
    font-size: 24px;
    margin-bottom: 0px;
    border-bottom: #ffb847 2px solid; }
    .blog-text h3:first-child {
      margin-top: 0; }
  .blog-text ul {
    list-style-type: none;
    margin: 5px 0; }
  .blog-text li {
    margin-bottom: 1px; }
    .blog-text li strike {
      color: rgba(182, 206, 230, 0.5); }
  .blog-text li:before {
    content: "> ";
    color: #ffb847;
    margin-right: 1px; }

.image-container {
  width: 85%;
  margin: auto;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 20px; }

.image {
  width: 100%;
  padding: 0; }

.caption {
  font-family: Josefin Sans;
  font-size: 90%;
  margin: auto;
  text-align: center;
  padding: 10px;
  width: 90%;
  padding-top: 5px;
  margin-top: 10px; }

.pagination {
  text-align: center;
  margin: 40px 0;
  font-size: 24px; }

.page-current {
  margin: 0 100px; }

/*# sourceMappingURL=base.css.map */
