@import 'https://fonts.googleapis.com/css?family=Abel|Arvo|Inconsolata|Josefin+Sans|Old+Standard+TT';
/* line 26, /Users/eric_varela/Desktop/HTML/base.scss */
body {
  margin: 0;
  background-color: #2d2d2d;
  font-family: Abel;
  color: #b6cee6; }

/* line 34, /Users/eric_varela/Desktop/HTML/base.scss */
#site-header {
  text-align: center;
  background-color: #89f0c8; }

/* line 40, /Users/eric_varela/Desktop/HTML/base.scss */
#main-title {
  margin: auto;
  padding-top: 50px;
  font-size: 200px;
  color: #2d2d2d;
  font-family: Josefin Sans; }

/* line 48, /Users/eric_varela/Desktop/HTML/base.scss */
.sub-title {
  font-family: Inconsolata;
  font-size: 20px;
  font-style: italic;
  color: #606060;
  text-align: center;
  white-space: nowrap;
  position: relative;
  width: 150%;
  left: -50%;
  margin: auto;
  padding-bottom: 15px;
  overflow: hidden; }

/* line 63, /Users/eric_varela/Desktop/HTML/base.scss */
nav {
  background-color: #d9d9d9;
  border-top: solid 6px #2d2d2d;
  border-bottom: solid 6px #89f0c8; }
  /* line 68, /Users/eric_varela/Desktop/HTML/base.scss */
  nav ul {
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: flex;
    justify-content: space-between; }
    /* line 76, /Users/eric_varela/Desktop/HTML/base.scss */
    nav ul li {
      display: inline-block; }
  /* line 81, /Users/eric_varela/Desktop/HTML/base.scss */
  nav a {
    height: 40px;
    width: 100%;
    padding-top: 20px;
    text-align: center; }
    /* line 88, /Users/eric_varela/Desktop/HTML/base.scss */
    nav a:visited {
      color: #2d2d2d; }
    /* line 91, /Users/eric_varela/Desktop/HTML/base.scss */
    nav a:hover {
      background-color: #89f0c8;
      color: #2d2d2d; }
    /* line 95, /Users/eric_varela/Desktop/HTML/base.scss */
    nav a:active {
      background-color: #2d2d2d;
      color: #89f0c8; }

/* line 103, /Users/eric_varela/Desktop/HTML/base.scss */
#content {
  background-color: #2d2d2d;
  padding-top: 50px; }

/* line 110, /Users/eric_varela/Desktop/HTML/base.scss */
.blog-title {
  font-family: Josefin Sans;
  font-size: 65px;
  color: #89f0c8;
  margin: 0;
  padding: 40px;
  padding-bottom: 20px; }

/* line 119, /Users/eric_varela/Desktop/HTML/base.scss */
.blog-entry {
  border-bottom: solid #d9d9d9 3px;
  position: relative; }
  /* line 123, /Users/eric_varela/Desktop/HTML/base.scss */
  .blog-entry footer {
    width: 16%;
    padding-left: 10px;
    margin-bottom: 50px;
    border-bottom: 2px solid #89f0c8;
    float: right; }
    /* line 130, /Users/eric_varela/Desktop/HTML/base.scss */
    .blog-entry footer .blog-author {
      font-family: Arvo;
      font-size: 18px;
      color: #d9d9d9; }

/* line 138, /Users/eric_varela/Desktop/HTML/base.scss */
.blog-content {
  position: relative; }

/* line 142, /Users/eric_varela/Desktop/HTML/base.scss */
.clearfix {
  clear: both; }

/* line 146, /Users/eric_varela/Desktop/HTML/base.scss */
.blog-info {
  padding-top: 10px;
  position: absolute;
  display: inline-block;
  top: 0;
  bottom: 0;
  width: 16%;
  color: #d9d9d9; }
  /* line 155, /Users/eric_varela/Desktop/HTML/base.scss */
  .blog-info span {
    display: block;
    text-align: right;
    font-family: Arvo; }

/* line 162, /Users/eric_varela/Desktop/HTML/base.scss */
.blog-stats {
  position: absolute;
  bottom: 45px;
  right: 5px; }

/* line 168, /Users/eric_varela/Desktop/HTML/base.scss */
.blog-date {
  font-size: 21px; }

/* line 172, /Users/eric_varela/Desktop/HTML/base.scss */
.blog-time {
  font-size: 14px; }

/* line 176, /Users/eric_varela/Desktop/HTML/base.scss */
.blog-comments {
  margin-bottom: 6px; }

/* line 180, /Users/eric_varela/Desktop/HTML/base.scss */
.blog-heart {
  background-image: url("/static/content/HTML/heart.png");
  height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 7px;
  background-repeat: no-repeat;
  font-size: 12px;
  margin: 0;
  margin-top: 5px;
  float: right;
  color: #89f0c8; }

/* line 195, /Users/eric_varela/Desktop/HTML/base.scss */
.blog-text {
  width: 60%;
  margin: auto;
  border-left: solid #89f0c8 2px;
  padding: 30px;
  text-align: justify; }
  /* line 202, /Users/eric_varela/Desktop/HTML/base.scss */
  .blog-text p {
    padding-bottom: 25px;
    margin: auto;
    line-height: 1.4em; }
  /* line 208, /Users/eric_varela/Desktop/HTML/base.scss */
  .blog-text .dropcap {
    font-size: 30px;
    font-family: Old Standard TT;
    margin: 0px;
    margin-right: 2px;
    margin-top: 40px; }

/* line 218, /Users/eric_varela/Desktop/HTML/base.scss */
.image-container {
  width: 85%;
  margin: auto;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 20px; }

/* line 226, /Users/eric_varela/Desktop/HTML/base.scss */
.image {
  width: 100%;
  padding: 0; }

/* line 232, /Users/eric_varela/Desktop/HTML/base.scss */
.caption {
  font-family: Josefin Sans;
  font-size: 90%;
  margin: auto;
  text-align: center;
  padding: 10px;
  width: 90%;
  padding-top: 5px;
  margin-top: 10px; }

/*# sourceMappingURL=base.css.map */