@import 'https://fonts.googleapis.com/css?family=
Abel|
Alegreya+Sans|
Andada|
Archivo+Narrow|
Arvo|
Athiti|
Bentham|
Crimson+Text|
David+Libre|
Dosis|
Droid+Serif|
Farsan|
Fjord+One|
Gentium+Basic|
Inconsolata|
Josefin+Sans|
Josefin+Slab|
Kameron|
Muli|
Old+Standard+TT|
Open+Sans+Condensed:300|
PT+Sans+Narrow|
PT+Serif|
Pragati+Narrow|
Rasa|
Roboto+Slab|
Rokkitt|
Slabo+27px|
Timmana|
Yanone+Kaffeesatz:300|
Yrsa';
    

#top {
    text-align: center;
    background-color: #EEE;
    h1{
        margin: auto;
        padding-top: 50px;
        //line-height: 2em;
        font-size: 85px;
        color: #333;
        font-family: Josefin Sans;
        
    }
    h2 {
        font-family: Inconsolata;
        font-size: 24px;
        margin: auto;
        text-align: center;
        color: #AAA;
        padding-bottom: 15px;
    }
    margin-bottom: 80px;
}

.gifText {
//    font-family: Josefin Sans;
    font-family: Josefin Sans;
//    font-style: italic;
    margin: auto;
    text-align: center;

}

h1, h2 {
    font-size: 32pt;
    font-family: Josefin Sans;
    color: paleturquoise;
}

h2{
    text-align: left;
    margin: 1em auto;
    font-size: 30pt;
    color: hotpink;
    padding-bottom: 10px;
}

p {
    padding-bottom: 25px;
    margin: auto;
    line-height: 1.4em;

}

.img {
    width: 80%;
    margin: auto;
    
}

.imgimg {
    width: 100%;
}

body {
    background-color:#333;
    color: white;
    margin: auto;
        
}
.title{
    font-size: 42px;
    margin-bottom: 0px;
}
.author {
    font-family: Arvo;
    color: lightsteelblue;
    font-size: 18px;
    
//    margin-right: -40px;
//    background-color: red;
    margin: auto;
    width: 100%;
    text-align: right;
}




#content {
        font-family: Abel;
    color:lightsteelblue;
//    width: 80%;
    margin: auto;
}
.first {
    font-size: 30px;
    font-family: Old Standard TT;
//    background-color: #EEE;
//    color: #333;
//    height: 40px;
//    width: 40px;
//    border: solid red 5px;
//    display: inline-block;
//    text-align: center;
//    margin: 5px;
    margin: 0px;
//    background-color: red;
//    padding-bottom: 0px;
    margin-top: 40px;


}
.title {
//    width: 60%;
    margin-left: 40px;
}
.article_text {
    width: 60%;
    margin: auto;
}

.date {
    //font-family: Rokkitt;
    float: left;
    margin: auto;
    margin-left: 50px;
    margin-top: -5px;
}
.comments {
//    font-family: Timmana;
//    color: skyblue;
//    font-size: 20px;
    text-align: right;
//    margin-right: 40px;
//    width: 60%;
    margin: auto;




//    background-color: red;
}

.heart {
    background-image: url("/heart.png");
    height: 32px;
    width: 32px;
    text-align: center;
    padding-top: 7px;
    background-repeat: no-repeat;
    font-size: 12px;
    color: white;
    margin: 0;
    margin-top: 5px;
    float: right;

}

.line {
    padding-top: 20px;
    border-bottom: 2px solid lightsteelblue;
    border-bottom-style: solid;
    width: 70%;
    margin: auto;
    
}

.gif {
    width: 80%;
    margin: auto;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 20px;
//    border: 5px lightsteelblue double;
//    border-bottom: 2px lightsteelblue solid;
    p{
        padding-bottom: 10px;
        width: 90%;
    }
}
.gifImg {
    width: 100%;
    padding: 0;
}
