<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<title>Font Test</title>
<link rel="stylesheet" type="text/css" href="{% static 'content/HTML/fonts.css' %}" />
</head>
<body>

<div id="top">
<h1>Silicon Unicorn</h1>
    <h2>Dev Blog and Art Gallery</h2>
</div>

<div id="content">

    <div class="article">
    <h2 class="title">Phasellus Consectetur Purus At Orci</h2>

    <div class="date">10/6/16 11:57 PM
        <div class="comments">

        <span> 12 Comments </span>
            <br>
            <div class="heart">99</div>
    </div></div>

    <div class="article_text">
        <p>
        <span class="first">L</span>orem ipsum dolor sit amet, viris volumus quaerendum ad qui, virtute noluisse mel et. Ex eam nobis deserunt similique, eam ad expetenda constituam. In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no. Nec populo gloriatur at, vix in wisi electram, illud principes instructior est an. Dicant gloriatur ius no, ad eum exerci malorum docendi, ex enim malis per.
    </p>
    <p>
        <span class="first">U</span>su ferri neglegentur in. Ponderum rationibus repudiandae ei eam, iisque malorum officiis an eos. Suas adhuc mediocrem nec in. Has ut verear delenit argumentum. Quis mucius qualisque at vix, agam intellegam cu vim, modus everti nec eu. Vero saperet intellegebat cum at.
    </p>
        <div class="gif">
        <img class="gifImg" src="{% static 'content/HTML/mario.gif' %}"></img>
        <p class="gifText">Est mucius postulant hendrerit te, est falli civibus no, alia reprimique scriptorem vim ea.</p>
        </div>
    <p>
        <span class="first">T</span>e quo epicurei urbanitas scripserit. Accusamus repudiare philosophia te usu, usu voluptua elaboraret referrentur at. No pri quando lobortis pertinacia, mel ut vidit laudem. Est mucius postulant hendrerit te, est falli civibus no, alia reprimique scriptorem vim ea. Ei primis argumentum cum, invidunt repudiare sententiae usu id.
    </p>
        <div class="author"></div>
        </div>
    </div>
    <div class="line"><div class="author">Eric Varela</div></div>


    <div class="article">
    <h2 class="title">Aenean Nec Arcu Ut Urna</h2>

    <div class="date">10/6/16 11:57 PM
        <div class="comments">

        <span> 12 Comments </span>
            <br>
            <div class="heart">99</div>
    </div></div>

    <div class="article_text">

        <p><span class="first">P</span>ellentesque dapibus metus sit amet dictum euismod. Donec sit amet laoreet orci. Aliquam lobortis, eros at dictum lacinia, enim augue pretium est, et bibendum libero lectus vel ex. Nunc auctor pretium aliquam. In et turpis ut arcu ultricies tincidunt. Nulla porta, diam sed pharetra mollis, nunc arcu commodo est, in ullamcorper mauris dolor vel lectus. Sed tincidunt massa quam, at malesuada ex posuere vel. Vestibulum ut tortor in nisi pulvinar condimentum.  Vestibulum varius lacus ut urna laoreet placerat. Mauris vehicula ligula in sapien efficitur, eget porttitor augue rhoncus. Vivamus ut massa vel magna accumsan lobortis.</p>
    <p>
        <span class="first">U</span>su ferri neglegentur in. Ponderum rationibus repudiandae ei eam, iisque malorum officiis an eos. Suas adhuc mediocrem nec in. Has ut verear delenit argumentum. Quis mucius qualisque at vix, agam intellegam cu vim, modus everti nec eu. Vero saperet intellegebat cum at.
    </p>

    <p>
        <span class="first">T</span>e quo epicurei urbanitas scripserit. Accusamus repudiare philosophia te usu, usu voluptua elaboraret referrentur at. No pri quando lobortis pertinacia, mel ut vidit laudem. Est mucius postulant hendrerit te, est falli civibus no, alia reprimique scriptorem vim ea. Ei primis argumentum cum, invidunt repudiare sententiae usu id.
    </p>


        <p><span class="first">N</span>ulla volutpat neque varius faucibus dictum. Praesent consectetur, ante a consectetur ultrices, lectus magna porta lacus, nec sollicitudin leo massa id tortor. Donec aliquam sem maximus massa tincidunt, id auctor felis porta. Etiam sagittis erat vel urna volutpat, nec gravida lectus posuere. Fusce iaculis dolor aliquam nunc luctus dictum. Praesent id mauris in odio ultrices pretium at ut justo. Duis et malesuada est, at cursus orci. Etiam accumsan lacus vel hendrerit sodales. Quisque quam sapien, sodales non diam eu, faucibus vehicula magna. Sed placerat, risus vitae suscipit mattis, ipsum nunc ornare ipsum, at porttitor diam nulla eget nisl.</p>

         <p>
        <span class="first">L</span>orem ipsum dolor sit amet, viris volumus quaerendum ad qui, virtute noluisse mel et. Ex eam nobis deserunt similique, eam ad expetenda constituam. In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no. Nec populo gloriatur at, vix in wisi electram, illud principes instructior est an. Dicant gloriatur ius no, ad eum exerci malorum docendi, ex enim malis per.
    </p>

        <div class="author"></div>
        </div>
    </div>
    <div class="line"><div class="author">Eric Varela</div></div>

    <div class="article">
    <h2 class="title">Praesent Placerat In Tortor In</h2>

    <div class="date">10/6/16 11:57 PM
        <div class="comments">

        <span> 12 Comments </span>
            <br>
            <div class="heart">99</div>
    </div></div>

    <div class="article_text">

        <div class="img">
        <img  src={% static 'content/HTML/mario.png' %}></img>
        </div>
        <p>

        <span class="first">L</span>orem ipsum dolor sit amet, viris volumus quaerendum ad qui, virtute noluisse mel et. Ex eam nobis deserunt similique, eam ad expetenda constituam. In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no. Nec populo gloriatur at, vix in wisi electram, illud principes instructior est an. Dicant gloriatur ius no, ad eum exerci malorum docendi, ex enim malis per.
    </p>
    <p>
        <span class="first">U</span>su ferri neglegentur in. Ponderum rationibus repudiandae ei eam, iisque malorum officiis an eos. Suas adhuc mediocrem nec in. Has ut verear delenit argumentum. Quis mucius qualisque at vix, agam intellegam cu vim, modus everti nec eu. Vero saperet intellegebat cum at.
    </p>

    <p>
        <span class="first">T</span>e quo epicurei urbanitas scripserit. Accusamus repudiare philosophia te usu, usu voluptua elaboraret referrentur at. No pri quando lobortis pertinacia, mel ut vidit laudem. Est mucius postulant hendrerit te, est falli civibus no, alia reprimique scriptorem vim ea. Ei primis argumentum cum, invidunt repudiare sententiae usu id.
    </p>
        <div class="author"></div>
        </div>
    </div>
    <div class="line"><div class="author">Eric Varela</div></div>



</div>
</body>
</html>


