<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<title>Post Mockup</title>
<link rel="stylesheet" type="text/css" href="{% static 'content/HTML/post-v2.css' %}" />
</head>
<body>

<header id="site-header">
        <h2 class="sub-title"> :Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn   </h2>
    <h1 id="main-title">Phasellus Consectetur Purus At Orci</h1>
    <h2 class="sub-title"> :Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn   </h2>

</header>

<nav>
    <ul>
        <a href=""><li>Older Posts</li></a>
        <a href=""><li>Newer Posts</li></a>
        <a href=""><li>Favorite Posts</li></a>
        <a href=""><li>Just Filling</li></a>
        <a href=""><li>Older Posts</li></a>
        <a href=""><li>Newer Posts</li></a>
    </ul>
</nav>

<section id="content">

<article class="blog-entry">

    <header>
        <h2 class="blog-title"></h2>
    </header>

    <section class="blog-content">

        <section class="blog-text">
            <p>
            <span class="dropcap">L</span>orem ipsum dolor sit amet, viris volumus quaerendum ad qui, virtute noluisse mel et. Ex eam nobis deserunt similique, eam ad expetenda constituam. In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no. Nec populo gloriatur at, vix in wisi electram, illud principes instructior est an. Dicant gloriatur ius no, ad eum exerci malorum docendi, ex enim malis per.
            </p>

            <p>
            <span class="dropcap">U</span>su ferri neglegentur in. Ponderum rationibus repudiandae ei eam, iisque malorum officiis an eos. Suas adhuc mediocrem nec in. Has ut verear delenit argumentum. Quis mucius qualisque at vix, agam intellegam cu vim, modus everti nec eu. Vero saperet intellegebat cum at.
            </p>

            <figure class="image-container">
                <img class="image" src="{% static 'content/HTML/mario.gif' %}">
                <figcaption class="caption">Est mucius postulant hendrerit te, est falli civibus no, alia reprimique scriptorem vim ea.</figcaption>
            </figure>

            <p>
                <span class="dropcap">T</span>e quo epicurei urbanitas scripserit. Accusamus repudiare philosophia te usu, usu voluptua elaboraret referrentur at. No pri quando lobortis pertinacia, mel ut vidit laudem. Est mucius postulant hendrerit te, est falli civibus no, alia reprimique scriptorem vim ea. Ei primis argumentum cum, invidunt repudiare sententiae usu id.
            </p>
        </section>
    </section>

    <footer id="info-pop">
        <div class="post-author-date">
            <div class="post-blog-author">Eric Varela</div>
            <span class="blog-date">10/6/16 </span>
            <span class="blog-time">11:57 PM</span>
        </div>
            <div class="blog-heart">
                <span class="heart-count">
                    999
                </span>
            </div>
    </footer>


</article>

</section>
<div class="clearfix"></div>
    

<div id="comment-bar">
    <h2 id="comment-title">{Comments: 6} </h2>   
<span id="add-new-comment">++ Add New Comment ++</span>
</div>
<!--<div class="clearfix"></div>-->
    
<section class="comments-section">

    <div class="comment-container">
        <div class="comment-info">
            <span class="comment-author">Aiden Vice</span>
            <span class="comment-date">10/9/16</span>
            <span class="comment-time">10:20 PM</span>
        </div>
        <div class="comment-text">
            <p> Ex eam nobis deserunt similique, eam ad expetenda constituam. In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no.
            </p>
        </div>
        <div class="comment-tools">
            <span>\\\ Edit \\\ </span>
            <span> : : Delete : :</span>
        </div>
    </div>

        <div class="comment-container">
        <div class="comment-info">
            <span class="comment-author">Ruby Labiano</span>
            <span class="comment-date">10/9/16</span>
            <span class="comment-time">10:20 PM</span>
        </div>
        <div class="comment-text">
            <p> In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no. Ex eam nobis deserunt similique, eam ad expetenda constituam. In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no. Ex eam nobis deserunt similique, eam ad expetenda constituam. In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no. Ex eam nobis deserunt similique, eam ad expetenda constituam. In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no. Ex eam nobis deserunt similique, eam ad expetenda constituam. In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no.
            </p>
        </div>
        
    </div>

    
    <div class="comment-container">
        <div class="comment-info author-comment">
            <span class="comment-author">Eric Varela</span>
            <span class="comment-date">10/9/16</span>
            <span class="comment-time">10:20 PM</span>
        </div>
        <div class="comment-text">
            <p> Ponderum rationibus repudiandae ei eam, iisque malorum officiis an eos. Suas adhuc mediocrem nec in. Has ut verear delenit argumentum. Quis mucius qualisque at vix, agam intellegam cu vim, modus everti nec eu. Vero saperet intellegebat cum at.
            </p>
            <p> Ex eam nobis deserunt similique, eam ad expetenda constituam. In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no. Ex eam nobis deserunt similique, eam ad expetenda constituam. In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no.
            </p>
            <p> Ex eam nobis deserunt similique, eam ad expetenda constituam. In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no. Ex eam nobis deserunt similique, eam ad expetenda constituam. In amet elitr voluptua qui. Ut atomorum aliquando pro, mel quot tractatos no.
            </p>
        </div>
    </div>
    <div class="comment-container">
        <div class="comment-info">
            <span class="comment-author">Aiden Vice</span>
            <span class="comment-date">10/9/16</span>
            <span class="comment-time">10:20 PM</span>
        </div>
        <div class="comment-text">
            <p> Est anim instituendarum id et illum nostrud de nam esse cernantur efflorescere, eu elit laborum arbitrantur, nam hic elit velit quem ex sunt mentitum tempor ex tamen id ingeniis id esse hic laboris a lorem. 
            </p>
        </div>
        <div class="comment-tools">
            <span>\\\ Edit \\\ </span>
            <span> : : Delete : :</span>
        </div>
    </div>

        <div class="comment-container">
        <div class="comment-info">
            <span class="comment-author">Julia Diamnt</span>
            <span class="comment-date">10/9/16</span>
            <span class="comment-time">10:20 PM</span>
        </div>
        <div class="comment-text">
            <p> 
                Illum nescius ne comprehenderit, nisi comprehenderit pariatur sunt fabulas!
            </p>
        </div>
        
    </div>

    
    <div class="comment-container">
        <div class="comment-info">
            <span class="comment-author">Goldberry</span>
            <span class="comment-date">10/9/16</span>
            <span class="comment-time">10:20 PM</span>
        </div>
        <div class="comment-text">
            <p>
                Ab duis distinguantur, aut ne eruditionem, dolore sed possumus, quis ingeniis ex tractavissent, litteris et voluptate ab dolore transferrem laboris magna singulis se quo minim ullamco exquisitaque, elit commodo ita nescius. Cernantur ipsum de voluptate cohaerescant. Doctrina nam quis ingeniis qui singulis sint ad voluptate fidelissimae. 
            </p>

            <p>
                Arbitror nisi fore nam elit. Ne nulla voluptatibus eu cillum an expetendis. Consequat aut litteris hic fugiat do hic sint appellat.  Quorum vidisse o summis nulla, et quem irure dolor admodum.
            </p>
        </div>
    </div>
    
    <div class="comment-container">
        <div class="comment-info ">
            <span>New Comment</span>

<!--
            <span class="comment-date">10/1/16</span>
            <span class="comment-time">10:53 PM</span>
-->
        </div>
        <div class="entry-container">
            <span class="name"> { Name } </span>
            <input type="text" class="new-comment-author" name="author">
            <span class="name"> { Name } </span>
            <textarea type="text" id="new-comment" name="new comment" placeholder="THIS IS SOME WILD SHIT">
            </textarea>
        <button type="submit" class="comment-post">
            ++ Post ++ 
        </button>
        </div>

    </div>

</section>

<!--
<footer>
Something
</footer>
-->

</body>
</html>
