@import "variables";

.blogentry {
    font-family: $post-font;
    font-color: $body-color;
}

#posttitle {
    font-family: $head-font;
    margin-top: 20px;
}

.letterbox {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.letter_link {
    height:50px;
    width:50px;
    color:white;
}

.letter {
    font-family: $post-font;
    font-size: 2em;
    text-align: center;
    margin-top: 13px;
}

#postcontent {
    p {
        text-align: center;
    }
    margin-top: 20px;
}

#timecode {
    width: 80%;
    margin: auto;
}

#datepublished {
}

#timepublished {
    float: right;
}

.heart {
    background-image: url('heart_87.png');
    width: 87px;
    height: 87px;
    margin: 0 auto;
    text-align: center;
}

.likes {
    font-family: $post-font;
    font-size: 2em;

}

#error_msg {

}

.comments {

}

#commenthead {
    font-family: $head-font;
}

.ctitle {
    font-family: $head-font;
}

.author {
    font-family: $head-font;
}

.divider {
    font-family: $head-font;
}

.timestamp {
    font-family: $head-font;
}

.edit_delete {
    display: inline-block;
    font-family: $head-font;
    font-size: .6em;
}

.c_letterbox {
    width: 75px;
    height: 75px;
    border: 3px solid white;
    margin: 15px;
    float:left;
}

.c_letter_link {
    height: 75px;
    width: 75px;
    color: white;
}

.c_letter {
    font-family: "Josefin Slab";
    font-size: 3em;
    text-align: right;
    margin-top: 30px;
    margin-right: 3px;
    color: white;
}

.ctext {
    font-family: $post-font;
    padding: 15px;
}

.clearfix {
    clear: both;
}

.newpost {

}
