@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

$post-font: "Josefin Slab";
$head-font: "Quicksand";


$bg-color: #333;
$body-color: #c8fafd;
$head-color: #5DBCFA;
$link-color: #e04273;
