@import "variables";


html {
    font-family: $post-font;
    font-size: 100%;
    color: $body-color;
}

body {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: $body-color;
}

a {
    text-decoration: none;

    &:link {
        color: $link-color;
    }
    &:visited {
        color: $link-color;
    }
    &:hover {
        color: lighten($link-color, 15%);
    }
    &:active {
        color: lighten($link-color, 25%);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $head-font;
    color: $head-color;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 3em;
}


.django-ckeditor-widget {
    width: 100%;
    display: block;

    div {
        width: 100%;
        margin: auto;
        display: block;
        background-color: $bg-color;
    }
    #cke_id_richpost{
        margin: auto;
        display: block;
    }
}

.cke_wysiwyg_div {
    background-color: $bg-color;
}

.bug {
    padding: 10px;
    display: block;
    font-size: 1em;
    font-family: $post-font;
}
