@import "variables";

h1 {
    font-family: $post-font;
    color: $body-color;
    margin-top: 30px;

}

#username {
    border-bottom: 2px solid white;
    width: 60%;
    margin:auto;
    margin-bottom: 15px;
    padding-bottom: 1px;
    h2 {
        font-family: $post-font;
        text-align: right;
        font-size: 3em;
    }

}

#profile {
    width: 80%;
    font-family: $post-font;
    margin: 0 auto;
    margin-top: 30px;
}

#letterbox {
    width: 200px;
    height: 200px;
    border: 6px solid white;
    position: relative;
}

#letter {
    font-family: $post-font;
    font-size: 7em;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: .7;
    padding-right: 7px;
    color: white;
}

#combinedinfo {
    border: 2px solid white;
}

#basicinfo {
    padding: 20px;
    width: 212px;
    border-right: 2px solid white;
    float: left;

    h4 {
        font-family: $post-font;
        text-align: left;
        color: inherit;
    }
}

.edit {
    a {
    text-decoration: none;

    &:link {
        color: inherit;
    }
    &:visited {
        color: inherit;
    }
    &:hover {
        color: inherit;
    }
    &:active {
        color: inherit;
    }
}
}

#infosection {
    line-height: 1.25;

    hr {
        margin: 5px;
    }

}

ul {
    list-style-type: none;
    margin:0;
    padding:0;

    li {
        font-size: 1.2em;
        text-align: right;
        padding:2px;

        .infolabel {

        }

        .infodetail {

        }
    }
}
#addrsection {
    li {
        text-align: left;
    }
}

#userinfo {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 0px;

}

h4 {
    font-size: 1.5em;
    margin:0;
}

#activityinfo {
    margin-left: 212px;
    margin-top: 18%;
    text-align: center;
    padding: 5px;
    ul{
        display: inline-block;
    }
}

.clearfix {
    clear: both;
}
