{% extends 'content/HTML/Reskin/base.html' %}
{% load staticfiles %}
{% block head %}

<title>Post Mockup</title>
<link rel="stylesheet" type="text/css" href="{% static 'content/HTML/post-v2.css' %}" />

{% endblock %}

{% block header %}
 <h2 class="sub-title"> :Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn   </h2>
    <h1 id="main-title">{{ post.title }}</h1>
    <h2 class="sub-title"> :Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn:Silicon\Unicorn   </h2>
{% endblock %}

{% block content %}


<section id="content">

<article class="blog-entry">

    <header>
        <h2 class="blog-title"></h2>
    </header>

    <section class="blog-content">

        <section class="blog-text">
            {{ post.content|safe }}
        </section>
    </section>

    <footer id="info-pop">
        <div class="post-author-date">
            <div class="post-blog-author"> <a href="/{{ post.author.userprofile.pk }}/profile"> {{ post.author.username }} </a></div>
            <span class="blog-date"> {{ post.date_published |  date:" m/d/y" }} </span>
            <span class="blog-time"> {{ post.date_published |  date:"h:i A" }} </span>
        </div>
            <div class="blog-heart">
                <span class="heart-count">
                     {{ post.like_count }}
                </span>
            </div>
    </footer>


</article>

</section>
<div class="clearfix"></div>

<a name="comments-section"></a>
<div id="comment-bar">
    <h2 id="comment-title"> { Comments: <span id="comment-count">{{ post.comment_count }}</span> } </h2>
    <a href="#new-comment" id="add-new-comment">++ Add New Comment ++</a>
</div>
<!--<div class="clearfix"></div>-->

<section class="comments-section" id="comment-stack">

{% for c in comments %}
    <div class="comment-container" data-cid={{c.pk}}>
        <div class="comment-info {% if c.author == post.author %} author-comment {% endif %}">
            {% if c.author == None%}
            <span class="anonymous"> (unregistered user) </span>
            <span class="comment-author-anonymous {% if c.author == post.author %} author-comment {% endif %}"> {{ c.display_author }} </span>
            {% else %}
            <span class="comment-author {% if c.author == post.author %} author-comment {% endif %}"> <a href="/{{ c.author.userprofile.pk }}/profile">{{ c.author.username }} </a> </span>
            {% endif %}
            <div class="comment-heart">

                <svg xmlns="http://www.w3.org/2000/svg" class="comment-heart{% if c.author == post.author %}-author {% endif %}" width="64" height="64" viewBox="0 0 64 64"><path d="M43.4 10c8.1 0 12.8 4.4 12.8 12.5 0 5.1-1.6 8.6-7 14.6L32.2 54 15.1 37.2c-5.4-6.1-7.1-9.6-7.1-14.6 0-8.1 4.8-12.5 13-12.5 3.4 0 7 0.9 11.3 8.3C36.4 11 40 10 43.4 10M43.4 4c-4.4 0-8 1.4-11.2 4.4 -3.2-3-6.9-4.4-11.2-4.4 -11.5 0-19 7.3-19 18.5 0 7.5 3 12.3 8.7 18.6l0.1 0.1 0.1 0.1 17.1 16.8 4.2 4.2 4.2-4.2 17.1-16.8 0.1-0.1 0.1-0.1c6.3-7 8.5-11.9 8.5-18.6C62.2 11.1 55 4 43.4 4L43.4 4z" /></svg>
                <span class="comment-heart-count">20</span>
            </div>
            <div class="datetime">
                {% if c.is_edited %}
                <span class="comment-date"> {{ c.last_edited |  date:" m/d/y" }} </span>
                <span class="comment-time"> {{ c.last_edited |  date:"h:i A" }} ( E ) </span>
                {% else %}
                <span class="comment-date"> {{ c.timestamp |  date:" m/d/y" }} </span>
                <span class="comment-time"> {{ c.timestamp |  date:"h:i A" }}  </span>
                {% endif %}

            </div>
        </div>
        <div class="comment-text">
            <p>{{ c.content|safe }}</p>
        </div>
        {% if user == c.author %}
        <div class="comment-tools">
            <div class="comment-edit" data-cid={{c.pk}}>\\\ Edit \\\ </div>
            <div class="comment-del"  data-cid={{c.pk}}> : : Delete : :</div>
        </div>
        {% endif %}
    </div>
{% endfor %}

    </div>


</section>
   <div class="comment-container">
        <div class="comment-info ">
            <span>New Comment</span>

<!--
            <span class="comment-date">10/1/16</span>
            <span class="comment-time">10:53 PM</span>
-->
        </div>
        <a name="#new-comment"></a>
    <form  method="post" class='entry-container'>
        {% csrf_token %}
               <span class="name"> [ Name ] </span>
             {% if user.is_authenticated %}
            <span class="author-label"> {{ user.username }} </span>
            <input type="hidden" id="new-comment-author" name="display_author" value ={{user.username}}/>
            {% else %}
            <input type="text" id="new-comment-author" maxlength='200' name="display_author">{{user.username}}</input>
            {% endif %}

            <span class="name">[ Name ] </span>

        {{ form.content }}

        <input type="submit" value="++ Post ++" class="comment-post"/>
    </form>




    <div class="spacer"><h1>SPACER</H1></div>

<script type="text/javascript">

    $(".entry-container").on('submit', newComment);
    $(".comment-del").click(deleteComment);
    $(".comment-edit").click(editComment);
    $(".blog-heart").click(likePost);

    function likePost(e) {
        $.ajax(
        {
            url : window.location.href,
            type : "POST",
            data :{csrfmiddlewaretoken : getCookie('csrftoken'),
            'action' : 'like'
        },

        success : function(json) {
            $("div .heart-count").text(json['likecount']);
        },

        error : function (xhr, errmsg, err) {
            console.log(err);
            console.log(errmsg);
            console.log(xhr);
            console.log("you don goofed");
        }
    });
    }

    function newComment(e) {
        e.preventDefault();


        $.ajax(
        {
            url : window.location.href,
            type : "POST",
            data : { csrfmiddlewaretoken : getCookie('csrftoken'),
                    "action" : "comment",
                    "author" : "{{ user.pk }}",
                    "display_author" : $("#new-comment-author").val(),
                    "content" :  $("#new-comment").val()
                   },

            success : function(json) {
                console.log("successful comment post");
                $("#comment-stack").append(makeComment(json["author"],
                  json["display_author"],
                  json["is_user"],
                  json["datestamp"],
                  json["timestamp"],
                  json["content"],
                  json["id"],
                  json["uid"]));
                // $("#new-comment-author").val("");
                $("#new-comment").val("");
                $(".comment-del").click(deleteComment);
                $(".comment-edit").click(editComment);
                $("#comment-count").text(json["count"]);
            },

            error : function(xhr, errmsg, err) {
                console.log("error comment not posted");
                console.log(xhr.status);
                console.log(errmsg);
                console.log(err);
            }
        });
    }

    function makeComment(author, display_author, is_user, datestamp, timestamp, comment, id, uid) {
        console.log(is_user);
        if (is_user) {
            author = author;
        } else {
            author = display_author;
        }

        return '<div class="comment-container" data-cid='
        + id + '><div class="comment-info'
        + {% if user == post.author %} ' author-comment"' {% else %} '"' {% endif %}
        + '><span class="comment-author"> <a href="/'
        + uid + '/profile">'
        + author + '</a> </span><span class="comment-date"> '
        + datestamp + ' </span> <span class="comment-time"> '
        + timestamp +  ' </span></div><div class="comment-text"><p>'
        + comment + '</p></div><div class="comment-tools"><div class="comment-edit" data-cid='
        + id + '>&#92;&#92;&#92; Edit &#92;&#92;&#92; </div><div class="comment-del" data-cid='
        + id + '> : : Delete : :</div></div></div>';
    }

    function editComment(id) {
        cid = $(id.target).data("cid");

        editing = $("#replacement");
        if (editing.length) {
            $("#update").remove();
            editing.replaceWith("<p>" + editing.html() + "</p>");
        }

        console.log("editing comment:" + cid);
        comment =  $(".comment-container[data-cid=" + cid + "] .comment-text");
        comment.replaceWith("<div class='entry-container'><textarea rows='4' cols='100' id='replacement'>" + comment.text().trim() + "</textarea></div>");
        $("#replacement").parent().append("<input type=submit value='^^ Update ^^' class='comment-post' id='update'/>");

        $("#update").click(updateComment)
    }

    function updateComment(id) {
        console.log("yup thats working at least");
        $.ajax({

            url : window.location.href,
            type : "POST",
            data : { csrfmiddlewaretoken : getCookie('csrftoken'),
            "action" : "edit",
            "id" :  $(id.target).parent().parent().data("cid"),
            "newContent" : $("#replacement").val(),
            },

            success : function(json) {
                console.log("gurl. you edited you some comments.");
                $("#update").remove();
                replacement = $("#replacement");
                // replacement.css("background-color","#fd3");
                newContent = json["newContent"];
                console.log(newContent);
                replacement.parent().replaceWith("<div class=comment-text><p>" + newContent + "</p></div>");
                 $(".comment-container[data-cid=" + cid + "]" + " .comment-info .comment-time").text(json["timestamp"]);

            },

            error : function(xhr, errmsg, err) {
                console.log("Comments are not posting. something is wrong.");
                console.log("error");
                console.log(xhr.status);
                console.log(xhr.responseText);
                console.log(errmsg);
                console.log(err);
            }

        });
    }

    function deleteComment(id) {
        console.log("deleting comment");

        $.ajax({

            url : window.location.href,
            type : "POST",
            data : { csrfmiddlewaretoken : getCookie('csrftoken'),
                "action" : "delete",
                "id" :  $(id.target).data("cid")
                },

        success : function(json) {
            console.log(json);
            if (json["deleted"] == true) {
                console.log("deleted comment");
                console.log(json["deleted"]);
                console.log(json["cid"]);
                $(".comment-container[data-cid=" + json["cid"] + "]").hide();
                $("#comment-count").text(json["count"]);
            }
        },

        error : function(xhr, errmsg, err) {
            console.log("error");
            console.log(xhr.status);
            // console.log(xhr.responseText);
            console.log(errmsg);
            console.log(err);
            }
        });
    }

    function getCookie(name) {
     var cookieValue = null;
     if (document.cookie && document.cookie != '') {
       var cookies = document.cookie.split(';');
       for (var i = 0; i < cookies.length; i++) {
           var cookie = jQuery.trim(cookies[i]);
                 // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                   cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                   break;
               }
           }
       }
       return cookieValue;
    }


    </script>

{% endblock %}

